@import "./mixins";

.hero-container {
    background-image: url('../img/hero-img.jpg');
    height: 90vh;
    @include background-setting();
    display: flex;
    justify-content: flex-end;
    align-items: center;
}