@mixin background-setting {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin absolutely-centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}