@import "./mixins";
@import "./navigation";
@import "./containers";
@import "./modal";
@import "./button";

body {
  text-align: center;
  min-height: 100vh; /* will cover the 100% of viewport */
  display: block;
  position: relative;
  padding-bottom: 150px;
}
label:not([name=isGoingGroup]) {
display: none;
}
header {
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 100%;
  font-size: calc(64px + 0.3vw);
  font-weight: 800;
  padding: 8px;
}
h2{
  font-weight: 800;
  text-transform: uppercase;
}
h5 {
  font-weight: 200;
}

footer {
  height: 150px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: black;
  div {
    padding-top: 2em;
  }
}
